[submodule "SnowEngine/External/glfw"]
	path = SnowEngine/External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "SnowEngine/External/spdlog"]
	path = SnowEngine/External/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "SnowEngine/External/glm"]
	path = SnowEngine/External/glm
	url = https://github.com/g-truc/glm.git
[submodule "SnowEngine/External/vma"]
	path = SnowEngine/External/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "SnowEngine/External/imgui"]
	path = SnowEngine/External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "SnowEngine/External/stb"]
	path = SnowEngine/External/stb
	url = https://github.com/nothings/stb.git
[submodule "SnowEngine/External/entt"]
	path = SnowEngine/External/entt
	url = https://github.com/skypjack/entt.git
[submodule "SnowEngine/External/tinygltf"]
	path = SnowEngine/External/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "SnowEngine/External/cereal"]
	path = SnowEngine/External/cereal
	url = https://github.com/USCiLab/cereal.git
